@model IEnumerable<PetShop.Client.Models.AnimalViewModel>
@{

    ViewData["Title"] = "CatalogViews";
}
<link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />

@inject PetShop.Service.Interfaces.IAgeService ageService
<div>
    <form>
        <select name="id" onchange="this.form.submit()" asp-items="ViewBag.categories">
            <option value="null">All Categories</option>
        </select>
    </form>
</div>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Age
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @ageService.Age(item.BirthDate)
                </td>
                <td>
                    <img src="~/images/@item.PhotoUrl" alt="Image" width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.AnimalId">Details</a> |
                </td>

            </tr>
        }
    </tbody>
</table>
<script>

</script>